@page "/camerasConfig"
@using BlazorCamPortal.Contracts.Enums
@rendermode InteractiveServer

@inject ICameraService _cameraService
@inject IDevicePairHttpService _devicePairHttpService

<button type="button" class="btn btn-primary" @onclick="ScanAndAddNewCameras">Scan And Add New Cameras</button>

<h1>Cameras Configuration</h1>

@if (isScanning)
{
	<h1>Scan in progress...</h1>
}
else if (foundDeviceIds != null)
{
	<p>Found @(foundDeviceIds.Count) new devices!</p>
}

<h2>Available Cameras</h2>

@foreach (var camera in cameraDisplayModels)
{
	<p>@($"{camera.Ipv4Address} - {camera.Name??"NotSet"} - {camera.MacAddress} - {camera.CreatedAt} - {camera.PairStatus}")</p>
	@if (camera.PairStatus!=PairStatus.Forgotten)
	{
		<button type="button" class="btn btn-primary" @onclick="() => ForgetCamera(camera)">Forget</button>
	}
}

@code {
	bool isScanning;
	List<CameraDisplayModel> cameraDisplayModels = new();
	List<Guid>? foundDeviceIds;

	protected override async Task OnInitializedAsync()
	{
		cameraDisplayModels=await _cameraService.GetAllCamerasAsync();
	}

	private async Task ScanAndAddNewCameras()
	{
		if (isScanning)
			return;

		isScanning = true;

		StateHasChanged();

		await Task.Yield();

		try
		{
			foundDeviceIds = await _devicePairHttpService.SendChallengeToAllDevicesAsync();
			cameraDisplayModels = await _cameraService.GetAllCamerasAsync();
		}
		finally
		{
			isScanning = false;
		}
	}

	private async Task ForgetCamera(CameraDisplayModel camera)
	{
		await _cameraService.ChangeCameraStatusAsync(camera.Id, PairStatus.Forgotten);

		camera.PairStatus = PairStatus.Forgotten;
		StateHasChanged();
	}
}
