@page "/"
@rendermode InteractiveServer

@inject ICameraService _cameraService
@inject ICameraFramesManagerService _cameraFramesManagerService
@inject IJSRuntime JS
@inject IConfiguration _configuration

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>
<hr />

@foreach (var camera in cameras)
{
    <div @key=camera.Id>
	    <p>@camera.Id</p>
	    <canvas id="@camera.Id" width="1280" height="720" style="border:1px solid #ccc;"></canvas>	
    </div>
}

@code {
    private List<CameraDisplayModel> cameras = new();

    protected override async Task OnParametersSetAsync()
    {  
        cameras = await _cameraService.GetAllCamerasAsync(Contracts.Enums.PairStatus.Paired);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {   
            //the cameras field is 40% of the time empty here despite it being populated before this method in OnParametersSetAsync
            //this is why they are extracted for the second time
            foreach (var camera in await _cameraService.GetAllCamerasAsync(Contracts.Enums.PairStatus.Paired))
            {
                await OnFrameAdded(camera.Id, FrameUtilities.GetDefaultFrame(_configuration));
            }

            _cameraFramesManagerService.FrameAdded += OnFrameAdded;
        }
    }

    private async Task OnFrameAdded(Guid cameraId, byte[] frame)
    {
        try
        {
            using var stream = new MemoryStream(frame);
            using var streamRef = new DotNetStreamReference(stream);

            await JS.InvokeVoidAsync("drawFrame", cameraId.ToString(), streamRef);
        }
        catch (TaskCanceledException)
        {
        }
        catch (ObjectDisposedException)
        {
        }
    }

    public void Dispose()
    {
        _cameraFramesManagerService.FrameAdded -= OnFrameAdded;
    }
}
