@using CamPortal.Contracts.Dtos.PreprovisionAttemptDtos
@inject IJSRuntime _js
@inject ISnackbar _snackbar

<MudPaper Class="secrets-card" Outlined="true">
    <div class="secrets-card-header">
        <MudIcon Icon="@Icons.Material.Filled.Description" Size="Size.Small" Class="mr-2" />
        <MudText Typo="Typo.caption" Style="color: #cccccc; font-family: monospace;">
            secrets.h
        </MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.ContentCopy"
                       Size="Size.Small"
                       Color="Color.Inherit"
                       OnClick="CopyAsync"
                       Title="Copy to clipboard" />
    </div>
    <pre class="secrets-code"><code>@SecretsCode</code></pre>
</MudPaper>


@code {

    [Parameter, EditorRequired]
    public PreprovisionDetailsDto Model { get; set; } = default!;

    private string SecretsCode => $@"#define HAS_PROVISIONED_SECRETS

#ifdef HAS_PROVISIONED_SECRETS
#define WIFI_SSID               ""{Model.WifiSSID}""
#define WIFI_PASS               ""{Model.WifiPassword}""
#define DEVICE_ID               ""{Model.DeviceId:D}""
#define PRIVATE_KEY             ""{Model.PrivateKey}""
#define NONCE                   ""{Model.Nonce}""
#define SERVER_IP               ""{Model.ServerIp}""
#define SERVER_IDENTITY_PUBKEY  ""{Model.ServerIdentityPublicKey}""
#endif";

    private async Task CopyAsync()
    {
        await _js.InvokeVoidAsync("navigator.clipboard.writeText", SecretsCode);
        _snackbar.Add("secrets.h copied to clipboard", Severity.Success);
    }
}